.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* left portion */

.left {
    width: 30vw;
    height: auto;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.both{
    display: flex;

    gap: 0.5rem;
}




.home ul li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    width: 25px;
    padding-top: 15px;
    
}

.playlist img {
    height: 1.3rem;
   
}

.library {
    min-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 0.8rem;
    /* border: 2px solid white; */
}



.song_ul{
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 5px 0px;
    width: 100%;
    border-radius: 4px;
    
}
.songinfo{
   max-width: 11rem;
   max-height: 5rem;
  
}

.play{
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btnfooter {
    align-items: center;
    display: flex;
    border: 0.4px solid white;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    gap: 0.3rem;

    margin: 1.5rem;

}

.text {
    font-size: 0.8rem;
    font-weight: lighter;
}

footer {

    position: relative;
    bottom: 5px;
    min-height: 10vh;


}

/*--------------------------------------------------------- Right Portion------------------------------------- */
.right {
    width: 70vw;
    border: 2px solid red;
    filter: invert(0);

}

.btn2 {
    font-weight: bold;
}


.header {

    align-items: center;
    filter: invert(0);
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 2rem;

}

.signup {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: rgb(141, 138, 138);
    font-size: 1rem;


}

.signup:hover {
    color: white;
    font-size: 1.03rem;
}

.buttons {
    display: flex;

    gap: 1.5rem;
}

.login {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    height: 3rem;
    width: 6rem;

}

.login:hover {
    width: 6.2rem;
    height: 3.2rem;
}

.Spotifyplaylist {
    padding: 2rem;
    padding-top: 3.5rem;

    /* border: 2px solid white; */

    /* background-color: rgb(34, 34, 34); */
}

.cards {
    /* border: 2px solid white; */
    display: flex;
    gap: 1.1rem;
    flex-wrap: wrap;
}

.card {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    width: 10rem;
    gap: 0.8rem;
    /* background-color: rgb(164, 29, 29); */
    padding: 0.8rem;

    border-radius: 10px;

}

.card img {
    width: 10rem;

    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}

.songdesk {
    font-size: 0.8rem;
    line-height: 1rem;
}

.playbar {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: red;
    padding: 5px;
    gap: 20px;
}
.playbar:hover{
    cursor: pointer;
    background-color: yellow
    /* background-color: red; */
}